/* reset */
@import "commonStyle.css";

/* aside */
#sideBar{
    display: flex;
    flex-direction: column;
    gap: var(--vh-48);
    width: calc((344 / var(--vw)) * 100vw);
    height: 100vh;
    justify-content: center;
    background-color: var(--color-white);
    border-right: 1px solid var(--color-stroke);
    box-shadow: var(--clay-card);

}
#header {
    display: flex;
    gap: 12px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
/* profile */
#profile img {
    border-radius: 50%;
    width: calc((100 / var(--vw)) * 100vw);
    height: calc((100 / var(--vw)) * 100vw);
}

/* user */
.user {display: flex; flex-direction: column; gap: var(--vh-12);}

/* uuser-service */
.user-service ul {
    display: flex;
    align-items: center;
}
.user-service ul li {
    display: flex;
    align-items: center;
    flex: 1;
    white-space: nowrap;
    justify-content: flex-end;
}
.ic-mail {margin-right: 4px;}
.user-service ul li:first-child {
    justify-content: flex-start;
    border-right: 1px solid #C8CDD4;
}
i.icon {
    display: inline-block;
    width: var(--vw-16);
    height: var(--vw-16);
    /*border: 1px solid blue;*/
    vertical-align: middle;
}
#linkMail {margin-left: 4px;}

.btn-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(2, 1fr);
    gap: 4px;
}
.btn-wrap #logout{
    grid-column: 1 / -1;
}
.btn-wrap > button {vertical-align: middle; padding: var(--vh-8);}
.btn-wrap #logout .ic-logout {margin-left: 8px;}
.btn-wrap #videoConference, .btn-wrap #reservation {
    position: relative;

}
.btn-wrap #videoConference::before, .btn-wrap #reservation::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--vw-16);
    height: var(--vw-16);
}
.btn-detail {transition: 0.35s; opacity: 0;}
.btn-wrap #videoConference:hover .btn-detail, .btn-wrap #reservation:hover .btn-detail{opacity: 1;}
.btn-wrap #videoConference:hover::before, .btn-wrap #reservation:hover::before{opacity: 0;}

/* nav */
#nav {
    display: flex;
    flex-direction: column;
    gap: var(--vh-24);
}
#nav > div {
    display: flex;
    flex-direction: column;
    gap: var(--vh-12);
}
#nav .nav-cate {margin-left: var(--vw-24);font-size: var(--font-size-11); }
#nav li a{
    display: block;
    padding: var(--vh-16) var(--vw-24);
    transition: 0.35s;
    border-radius: var(--vw-12);
    font-size: var(--font-size-14);
    font-weight: 500;
    color: var(--color-font-md);
}
#nav li a.active, #nav li a:hover {
    background: var(--color-main);
    color: var(--color-white);
}
#nav .icon {
    width: var(--vw-18);
    height:  var(--vw-18);
    margin-right: var(--vw-12);
}
/*  floating*/
#floating {
    position: absolute;
    top: calc((100 / 1080) * 100vh);
    right: calc((50 / 1920) * 100vw);
}
#floating ul {display: flex; gap: 8px;}
/*  sign in */
.container.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo-img {
    width: calc((426 / var(--vw)) * 100vw);
    height: calc((180 / var(--vh)) * 100vh);
    background: url("../images/logo.png") center / cover;
}

.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="submit"], input[type="password"] {
    width: calc((516 / var(--vw)) * 100vw);
    height: var(--vh-64);
    border-radius: var(--vw-32);
}
input[type="text"],  input[type="password"]{
    padding: var(--vw-24) var(--vh-24);
}
input[type="text"]::placeholder,  input[type="password"]::placeholder {
    font-size: var(--font-size-14);
    font-weight: 500;
}
.userId {
    margin-bottom: 24px;
}

.find-id-pw {
    text-align: right;
    font-size: 14px;
    width: 100%;
}
.find-id-pw > a:hover {
    color: vaR(--color-main);
}
.service-wrap {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0 64px;

}
.checkboxWrap {
    display: flex;
    width: 100%;
}