.wrapper {
    display: flex;
    height: 100vh;
}

.container {
    flex: 1;
    background-color: var(--color-bg-grey);
}
.inner {
    display: flex;
    gap: var(--vw-24);
}
.inner > section {
    flex : 1;
}
/*  메인   */
/*  공통  */
.content-title {
    font-size: var(--font-size-18);
}
.content {
    display: flex;
    flex-direction: column;
    gap: var(--vh-64);
    padding: calc((93/var(--vh)*100vh)) calc((50/var(--vw)*100vw)) 0 calc((50/var(--vw)*100vw));
}
.section-inner {
    gap: var(--vw-24);
}
.flex-inner {
    display: flex;
    flex-direction: column;
}
.grid-inner {
    display: grid;
    grid-template-columns: repeat(2, calc((333 / 1920) * 100vw)) calc((118 / 1920) * 100vw);
    grid-template-rows: calc((478 / 1080) * 100vh) calc((227 / 1080) * 100vh);
    flex-direction: column;
}
.card {
    border-radius: var(--size-32);
}
div::-webkit-scrollbar, ul::-webkit-scrollbar {
    width: 8px;
}
div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
    height: 20%;
    background: var(--color-main);
    border-radius: 10px;
}
.area-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--vh-24);
}
.content-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.list-item {
    display: flex;
    align-items: center;
    height: var(--vh-56);
    padding: var(--vw-10);
    gap: var(--vw-12);
}
.list-item:hover {
    background-color: var(--color-bg-grey);
}
.badge {
    width: calc((96/1920)*100vw);
    padding: var(--vw-12) 0;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--size-32);
    text-align: center;
    font-size: var(--font-size-11);
    font-family: var(--font-md);
    background-color: white;
}
.list-context {
    flex: 1;
    color: var(--color-font-high);
    font-size: var(--font-size-14);
}
.list-date {
    color: var(--color-font-row);
    font-size: var(--font-size-11);
}
.icon-area {
    position: relative;
}
.icon-area::after {
    content: '';
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: calc((80 / 1920) * 100vw);
    height: calc((80 / 1920) * 100vw);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
/*  intro   */
.hello {
    line-height: 1.2;
}
/* commute  */
.commute {
    display: flex;
    gap: var(--vw-24);
}
.commute-area {
    flex: 1;
    height: calc((170/1080)*100vh);
    overflow: hidden;
}
.btn-commute {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--vw-12);
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    color: var(--color-font-high);
    font-size: var(--font-size-24);
    border: none;
}

#work::after {
    background-image: url("../images/Icon3d/watch.png");
}
#leave::after {
    background-image: url("../images/Icon3d/Briefcase.png");
}
/* 해야 할 일 */
.job-area {
    height: calc((284/1080)*100vh);
}
.job-list {
    height: calc((168 / 1080) * 100vh);
}
.ongoing {
    border-color: var(--color-main);
    color: var(--color-main)
}
.waiting {
    border-color: var(--color-font-row);
    color: var(--color-font-row);
}
/*  공지  */
.notice-area {
    height: calc((227/1080)*100vh);
}
/* 진행중인 결재  */
.saction-area {
    height: 100%;
}
/*  캘린더 */
.calendar {
    grid-column: span 2;
}
.fc table{
    font-size: var(--font-size-14);
}
/*  식단  */
.diet-area {
    height: 100%;
}
.diet-item {
    font-size: var(--font-size-14);
}
.content-list.diet-list {
    overflow-y: unset;
}
.diet-area::after {
    background-image: url("../images/Icon3d/Pizza.png");
}
/*  이달의 생일  */
.birthday-area {
    height: 100%;
}
.birthday-list {
    flex-direction: row;
    overflow-y: unset;
    gap: var(--vw-24) var(--vw-12);
    flex-wrap: nowrap;
}
.birthday-list .list-item {
    flex-direction: column;
    padding-bottom: 12px;
}
.item-img {
    transition: .35s;
    border-radius: 50%;
}
.item-img img {
    display: block;
    width: calc((42/1920)*100vw);
    height: calc((42/1920)*100vw);
    border: 1px solid var(--color-stroke);
}

.birthday-list .list-item {
    position: relative;
    flex:1;
    align-items: center;
    padding: 0;
}
.item-desc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    opacity: 0;
    font-size: var(--font-size-11);
    transition: .35s;
    text-align: center;
}
.birthday-list .list-item:hover .item-img {
    background: var(--color-main);
}
.birthday-list .list-item:hover .item-img + .item-desc {
    opacity: 1;
    color: white;
}
/*  날씨  */
.weather-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#weather {
    display: flex;
    flex-direction: column;
    gap: var(--vh-16);
    text-align: center;
}
#weather .sky {
    font-size: var(--font-size-14);
    font-family: var(--font-md);
}
#weather .temperature {
    font-size: var(--font-size-24);
    font-family: var(--font-md);
}
#weatherImg {
    width: 100%;
    height: auto;
}
