<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.card.CardMapper">

    <insert id="inputCard" parameterType="cardVO">
        INSERT INTO CPR_CARD (CPR_CARD_NO,
                              CPR_CARD_NM,
                              CPR_CARD_CHRG_CMPNY)
        VALUES (#{cprCardNo},
                #{cprCardNm},
                #{cprCardChrgCmpny})
    </insert>

    <select id="loadAllCard" resultType="cardVO">
        SELECT CPR_CARD_NO,
               CPR_CARD_NM,
               CPR_CARD_CHRG_CMPNY,
               CPR_CARD_STTUS
        FROM CPR_CARD
        ORDER BY CPR_CARD_STTUS
    </select>

    <update id="modifyCardNm" parameterType="cardVO">
        UPDATE CPR_CARD
        SET CPR_CARD_NM = #{cprCardNm}
        WHERE CPR_CARD_NO = #{cprCardNo}
    </update>

    <update id="modifyCardStatusDisabled" parameterType="String">
        UPDATE CPR_CARD
        SET CPR_CARD_STTUS = 2
        WHERE CPR_CARD_NO = #{cprCardNo}
    </update>

    <select id="loadCardWaitingList" resultType="cardReservationVO">
        SELECT C.CPR_CARD_RESVE_SN,
               C.CPR_CARD_RESVE_BEGIN_DATE,
               C.CPR_CARD_RESVE_CLOS_DATE,
               C.CPR_CARD_RESVE_EMPL_ID,
               E.EMPL_NM AS CPR_CARD_RESVE_EMPL_NM
        FROM CPR_CARD_RESVE C,
             EMPL E
        WHERE COMMON_CODE_RESVE_AT = 'RESVE010'
          AND C.CPR_CARD_RESVE_EMPL_ID = E.EMPL_ID
        ORDER BY CPR_CARD_RESVE_SN
    </select>

    <update id="assignCard" parameterType="cardReservationVO">
        {CALL
            DECLARE
            BEGIN
                UPDATE CPR_CARD_RESVE
                SET CPR_CARD_NO          = #{cprCardNo},
                    COMMON_CODE_RESVE_AT = 'RESVE011'
                WHERE CPR_CARD_RESVE_SN = #{cprCardResveSn};

                UPDATE CPR_CARD
                SET CPR_CARD_STTUS = 1
                WHERE CPR_CARD_NO = #{cprCardNo};
            END}
    </update>

    <select id="loadAllResveRecords" resultType="cardReservationVO">
        SELECT CR.CPR_CARD_RESVE_SN,
               CR.CPR_CARD_RESVE_BEGIN_DATE,
               CR.CPR_CARD_RESVE_CLOS_DATE,
               CR.CPR_CARD_NO,
               C.CPR_CARD_NM,
               CR.CPR_CARD_RESVE_EMPL_ID,
               E.EMPL_NM AS CPR_CARD_RESVE_EMPL_NM,
               CR.CPR_CARD_RESVE_RTURN_AT
        FROM CPR_CARD_RESVE CR,
             CPR_CARD C,
             EMPL E
        WHERE CR.CPR_CARD_RESVE_EMPL_ID = E.EMPL_ID
          AND CR.CPR_CARD_NO = C.CPR_CARD_NO
          AND COMMON_CODE_RESVE_AT = 'RESVE011'
        ORDER BY CR.CPR_CARD_RESVE_RTURN_AT ASC,
                 CR.CPR_CARD_RESVE_SN DESC
    </select>

    <update id="returnChecked" parameterType="cardReservationVO">
        {CALL
            DECLARE
            BEGIN
                UPDATE CPR_CARD_RESVE
                SET CPR_CARD_RESVE_RTURN_AT = 1
                WHERE CPR_CARD_RESVE_SN = #{cprCardResveSn};

                UPDATE CPR_CARD
                SET CPR_CARD_STTUS = 0
                WHERE CPR_CARD_NO = #{cprCardNo};
            END}
    </update>


    <insert id="inputRequest" parameterType="cardReservationVO" useGeneratedKeys="true" keyProperty="generatedKey">
        INSERT INTO CPR_CARD_RESVE(CPR_CARD_RESVE_SN,
                                   CPR_CARD_RESVE_BEGIN_DATE,
                                   CPR_CARD_RESVE_CLOS_DATE,
                                   CPR_CARD_RESVE_EMPL_ID,
                                   COMMON_CODE_RESVE_AT,
                                   CPR_CARD_RESVE_RTURN_AT,
                                   CPR_CARD_USE_LOCA,
                                   CPR_CARD_USE_PURPS,
                                   CPR_CARD_USE_EXPECT_AMOUNT,
                                   COMMON_CODE_YRYC_STATE)
        VALUES (CPR_CARD_RESVE_SEQ.nextval,
                #{cprCardResveBeginDate},
                #{cprCardResveClosDate},
                #{cprCardResveEmplId},
                'RESVE010',
                0,
                #{cprCardUseLoca},
                #{cprCardUsePurps},
                #{cprCardUseExpectAmount},
                'N')
        <selectKey keyProperty="cprCardResveSn" resultType="int" order="AFTER">
            SELECT CPR_CARD_RESVE_SEQ.CURRVAL FROM DUAL
        </selectKey>
    </insert>
    <select id="loadRequestDetail" parameterType="int" resultType="cardReservationVO">
        SELECT CPR_CARD_RESVE_SN,
               CPR_CARD_RESVE_BEGIN_DATE,
               CPR_CARD_RESVE_CLOS_DATE,
               CPR_CARD_RESVE_EMPL_ID,
               COMMON_CODE_RESVE_AT,
               CPR_CARD_NO,
               CPR_CARD_RESVE_RTURN_AT,
               CPR_CARD_USE_LOCA,
               CPR_CARD_USE_PURPS,
               CPR_CARD_USE_EXPECT_AMOUNT,
               COMMON_CODE_YRYC_STATE
        FROM CPR_CARD_RESVE
        WHERE CPR_CARD_RESVE_SN = #{cprCardResveSn}
    </select>

</mapper>