<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.common.CommonMapper">

    <resultMap type="employeeVO" id="employeeWithPhoto">
        <result property="emplId" column="EMPL_ID"/>
        <result property="emplNm" column="EMPL_NM"/>
        <result property="emplTelno" column="EMPL_TELNO"/>
        <result property="emplEmail" column="EMPL_EMAIL"/>
        <result property="emplBrthdy" column="EMPL_BRTHDY"/>
        <result property="commonCodeDept" column="COMMON_CODE_DEPT"/>
        <result property="commonCodeClsf" column="COMMON_CODE_CLSF"/>
        <result property="commonCodeHffcSttus" column="COMMON_CODE_HFFC_STTUS"/>
        <result property="proflPhotoFileStreNm" column="UPLOAD_FILE_STRE_NM"/>
    </resultMap>

    <select id="loadOrgChart" parameterType="String" resultMap="employeeWithPhoto">
        SELECT U.UPLOAD_FILE_STRE_NM,
               E.EMPL_ID,
               E.EMPL_NM,
               E.EMPL_TELNO,
               E.EMPL_EMAIL,
               E.EMPL_ENCPN,
               E.EMPL_BRTHDY,
               E.COMMON_CODE_DEPT,
               E.COMMON_CODE_CLSF,
               E.COMMON_CODE_HFFC_STTUS
        FROM UPLOAD_FILE U,
             EMPL E
        WHERE E.COMMON_CODE_DEPT = #{depCode}
          AND U.UPLOAD_FILE_ETPR_CODE = E.PROFL_ETPR_CODE
        ORDER BY TO_NUMBER(SUBSTR(E.COMMON_CODE_CLSF, 5)), E.EMPL_ENCPN ASC
    </select>

    <select id="loadMenu" parameterType="String" resultType="dietVO">
        SELECT DIET_DATE,
               DIET_RICE,
               DIET_SOUP,
               DIET_DISH1,
               DIET_DISH2,
               DIET_DISH3,
               DIET_DESSERT
        FROM DIET
        WHERE TO_CHAR(DIET_DATE, 'yyyy-MM-dd') = #{today}
    </select>

    <select id="loadNotice" resultType="noticeVO">
        SELECT NOTI_ETPR_CODE,
               NOTI_TITLE,
               NOTI_CONTENT,
               NOTI_DATE,
               NOTI_RDCNT,
               NOTI_CTGRY_ICON_FILE_STRE_NM,
               COMMON_CODE_NOTI_KIND
        FROM NOTI
        WHERE ROWNUM &lt;= 2
          AND COMMON_CODE_NOTI_KIND = 'NOTI020'
        ORDER BY NOTI_DATE DESC
    </select>
    <select id="loadSanction" parameterType="String" resultType="sanctionVO">
        SELECT ELCTRN_SANCTN_SJ,
               ELCTRN_SANCTN_RECOM_DATE
        FROM ELCTRN_SANCTN
        WHERE ROWNUM &lt;= 10
          AND ELCTRN_SANCTN_DRFT_EMPL_ID = #{emplId}
          AND COMMON_CODE_SANCT_PROGRS = 'SANCTN011'
    </select>
</mapper>