<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.reservation.FacilityManageMapper">

<resultMap type="facilityVO" id="facilityVOMap">
    <result property="commonCodeFcltyKind" column="COMMON_CODE_FCLTY_KIND"/>
    <result property="fcltyResveSn" column="FCLTY_RESVE_SN"/>
    <result property="fcltyResveBeginTime" column="FCLTY_RESVE_BEGIN_TIME"/>
    <result property="fcltyResveEndTime" column="FCLTY_RESVE_END_TIME"/>
    <result property="fcltyResveRequstMatter" column="FCLTY_RESVE_REQUST_MATTER"/>
    <result property="fcltyResveEmplId" column="FCLTY_RESVE_EMPL_ID"/>
    <result property="fcltyCode" column="COMMON_NAME"/>        
    <result property="commonCodeResveAt" column="COMMON_CODE_RESVE_AT"/>
    <result property="fcltyEmplName" column="EMPL_NM"/>    
    <result property="equipName" column="EQUIPMENTLIST"/> 
</resultMap>

<!-- 시설 예약 현황 조회 -->
<select id="getAllReservedRooms" resultMap="facilityVOMap">
	SELECT 
	    A.COMMON_CODE_FCLTY_KIND AS COMMON_CODE_FCLTY_KIND,
	    C.COMMON_NAME AS COMMON_NAME,
	    A.FCLTY_RESVE_SN,
	    A.FCLTY_RESVE_END_TIME,
	    A.FCLTY_RESVE_BEGIN_TIME,
	    A.FCLTY_RESVE_REQUST_MATTER,
	    A.FCLTY_RESVE_EMPL_ID,
	    A.COMMON_CODE_RESVE_AT,
	    B.EMPL_NM
	FROM FCLTY_RESVE A
	INNER JOIN COMMON C ON A.COMMON_CODE_FCLTY_KIND = C.COMMON_CODE
	LEFT JOIN EMPL B ON A.FCLTY_RESVE_EMPL_ID = B.EMPL_ID
	ORDER BY A.FCLTY_RESVE_SN ASC
</select>

<!-- 예약 삭제 -->
<delete id="delReserve" parameterType="int">
	DELETE  FROM FCLTY_RESVE 
	WHERE FCLTY_RESVE_SN = #{fcltyResveSn}
</delete>

<!-- 회의실 갯수 -->
<select id="getRoomCount" resultType="int" parameterType="String">
	SELECT COUNT(COMMON_CODE_FCLTY_KIND)
	FROM FCLTY
	WHERE COMMON_CODE_FCLTY_KIND LIKE '%'||#{roomCode}||'%'
</select>

<!-- 시설 별 비품 현황 조회 -->
<select id="findEquipmentList" resultMap="facilityVOMap" parameterType="String">
	SELECT
	    F.COMMON_CODE_FCLTY_KIND,
	    LISTAGG(C.COMMON_NAME, ', ') 
	    WITHIN GROUP (ORDER BY C.COMMON_NAME) 
	    AS equipmentList,
	    (SELECT COMMON_NAME 
	    FROM COMMON 
	    WHERE COMMON_CODE = F.COMMON_CODE_FCLTY_KIND) 
	    AS COMMON_NAME
	FROM FCLTY F
	INNER JOIN FXTRS FX 
	ON FX.COMMON_CODE_FCLTY_KIND = F.COMMON_CODE_FCLTY_KIND
	INNER JOIN COMMON C 
	ON C.COMMON_CODE = FX.COMMON_CODE_FXTRS_KIND
	WHERE F.COMMON_CODE_FCLTY_KIND LIKE '%'||#{commonCodeFcltyKind}||'%'
	GROUP BY F.COMMON_CODE_FCLTY_KIND
</select>
<!-- 휴게실 구분코드 -->
<select id="getRetiringRoom" resultMap="facilityVOMap" parameterType="String">
	SELECT  F.COMMON_CODE_FCLTY_KIND,
			C.COMMON_NAME AS COMMON_NAME
	FROM FCLTY F
	INNER JOIN COMMON C 
	ON F.COMMON_CODE_FCLTY_KIND = C.COMMON_CODE
	WHERE F.COMMON_CODE_FCLTY_KIND LIKE '%'||#{commonCodeFcltyKind}||'%'
</select>

<!-- 오늘 예약 현황 조회 -->
<select id="findTodayResve" resultMap="facilityVOMap" >
	SELECT 
	    A.COMMON_CODE_FCLTY_KIND AS COMMON_CODE_FCLTY_KIND,
	    C.COMMON_NAME AS COMMON_NAME,
	    A.FCLTY_RESVE_SN,
	    A.FCLTY_RESVE_END_TIME,
	    A.FCLTY_RESVE_BEGIN_TIME,
	    A.FCLTY_RESVE_REQUST_MATTER,
	    A.FCLTY_RESVE_EMPL_ID,
	    A.COMMON_CODE_RESVE_AT,
	    B.EMPL_NM
	FROM FCLTY_RESVE A
	INNER JOIN COMMON C ON A.COMMON_CODE_FCLTY_KIND = C.COMMON_CODE
	LEFT JOIN EMPL B ON A.FCLTY_RESVE_EMPL_ID = B.EMPL_ID
	WHERE TO_DATE(A.FCLTY_RESVE_BEGIN_TIME, 'YY/MM/DD HH24:MI:SS') >= TRUNC(SYSDATE)
	ORDER BY A.FCLTY_RESVE_SN ASC
</select>
</mapper>