<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.notice.NoticeMapper">

    <!-- 총무팀 공지사항 관리   -->
    <insert id="inputNotice" parameterType="NoticeVO">
        INSERT INTO NOTI(NOTI_ETPR_CODE,
                         NOTI_TITLE,
                         NOTI_CONTENT,
                         NOTI_DATE,
                         NOTI_CTGRY_ICON_FILE_STRE_NM,
                         COMMON_CODE_NOTI_KIND)
        VALUES (#{notiEtprCode},
                #{notiTitle},
                #{notiContent},
                sysdate,
                #{notiCtgryIconFileStreNm},
                'NOTI020')
    </insert>

    <!--    'NOTI-' || NOTI_SEQ.nextval || '-' || TO_CHAR(sysdate, 'yyyyMMdd')-->
    <insert id="uploadNoticeFile" parameterType="map">
        INSERT INTO UPLOAD_FILE(UPLOAD_FILE_SN,
                                UPLOAD_FILE_ETPR_CODE,
                                UPLOAD_FILE_ORGINL_NM,
                                UPLOAD_FILE_STRE_NM,
                                UPLOAD_FILE_SIZE,
                                UPLOAD_FILE_RGSDE)
        VALUES (UPLOAD_FILE_SEQ.nextval,
                #{notiEtprCode},
                #{originalFileName},
                #{newFileName},
                #{fileSize},
                sysdate)
    </insert>

    <select id="getNotiSeq" resultType="int">
        SELECT NOTI_SEQ.nextval
        FROM dual
    </select>

    <update id="deleteNotice">
        UPDATE NOTI
        SET COMMON_CODE_NOTI_KIND = 'NOTI021'
        WHERE NOTI_ETPR_CODE = #{notiEtprCode}
    </update>

    <update id="modifyNotice">
        UPDATE NOTI
        SET NOTI_TITLE                   = #{notiTitle},
            NOTI_CONTENT                 = #{notiContent},
            NOTI_DATE                    = sysdate,
            NOTI_CTGRY_ICON_FILE_STRE_NM = #{notiCtgryIconFileStreNm}
        WHERE NOTI_ETPR_CODE = #{notiEtprCode}
    </update>




    <!--employee notice -->
    <select id="loadNoticeList" parameterType="String" resultType="noticeVO">
        SELECT NOTI_ETPR_CODE,
               NOTI_TITLE,
               NOTI_CONTENT,
               NOTI_DATE,
               NOTI_RDCNT,
               NOTI_CTGRY_ICON_FILE_STRE_NM,
               COMMON_CODE_NOTI_KIND
        FROM NOTI
        WHERE COMMON_CODE_NOTI_KIND = 'NOTI020'
        ORDER BY CASE
                     WHEN NOTI_CTGRY_ICON_FILE_STRE_NM = 'important.png' THEN 0
                     ELSE 1
                     END,
                 LENGTH(NOTI_ETPR_CODE) DESC,
                 NOTI_ETPR_CODE DESC
    </select>
    <select id="findNotice" parameterType="map" resultType="noticeVO">
        SELECT
        NOTI_ETPR_CODE,
        NOTI_TITLE,
        NOTI_CONTENT,
        NOTI_DATE,
        NOTI_RDCNT,
        NOTI_CTGRY_ICON_FILE_STRE_NM,
        COMMON_CODE_NOTI_KIND
        FROM NOTI
        WHERE COMMON_CODE_NOTI_KIND = 'NOTI020'
        <if test="keyword!=null and keyword!=''">
            AND (
            NOTI_TITLE LIKE '%' || #{keyword} || '%' OR
            NOTI_CONTENT LIKE '%' || #{keyword} || '%'
            )
        </if>
        ORDER BY
        CASE
        WHEN NOTI_CTGRY_ICON_FILE_STRE_NM = 'important.png' THEN 0
        ELSE 1
        END,
        <if test="sortBy!=null and sortBy!=''">
            NOTI_DATE ${sortBy}
        </if>
    </select>
    <select id="loadNoticeDetail" parameterType="String" resultType="noticeVO">
        SELECT NOTI_ETPR_CODE,
               NOTI_TITLE,
               NOTI_CONTENT,
               NOTI_DATE,
               NOTI_RDCNT,
               NOTI_CTGRY_ICON_FILE_STRE_NM,
               COMMON_CODE_NOTI_KIND
        FROM NOTI
        WHERE NOTI_ETPR_CODE = #{notiEtprCode}
    </select>
    <select id="loadNotiFiles" parameterType="String" resultType="uploadFileVO">
        SELECT UPLOAD_FILE.UPLOAD_FILE_SN,
               UPLOAD_FILE.UPLOAD_FILE_ETPR_CODE,
               UPLOAD_FILE.UPLOAD_FILE_ORGINL_NM,
               UPLOAD_FILE.UPLOAD_FILE_STRE_NM,
               UPLOAD_FILE.UPLOAD_FILE_SIZE,
               UPLOAD_FILE.UPLOAD_FILE_RGSDE
        FROM NOTI
                 LEFT JOIN UPLOAD_FILE ON NOTI.NOTI_ETPR_CODE = UPLOAD_FILE.UPLOAD_FILE_ETPR_CODE
        WHERE NOTI.NOTI_ETPR_CODE = #{notiEtprCode}
    </select>
    <select id="downloadNotiFile" parameterType="int" resultType="uploadFileVO">
        SELECT UPLOAD_FILE_SN,
               UPLOAD_FILE_ETPR_CODE,
               UPLOAD_FILE_ORGINL_NM,
               UPLOAD_FILE_STRE_NM,
               UPLOAD_FILE_SIZE,
               UPLOAD_FILE_RGSDE
        FROM UPLOAD_FILE
        WHERE UPLOAD_FILE_SN = #{uploadFileSn}
    </select>
    <update id="modifyNoticeView" parameterType="String">
        UPDATE NOTI
        SET NOTI_RDCNT=NOTI_RDCNT + 1
        WHERE NOTI_ETPR_CODE = #{notiEtprCode}
    </update>
</mapper>