<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.sanction.SanctionMapper">
    <select id="loadFormat" resultType="sanctionFormatVO">
        SELECT /* 결재 템플릿 불러오기 */
            F.COMMON_CODE_SANCTN_FORMAT,
            F.FORMAT_SANCTN_KND,
            F.FORMAT_SJ,
            F.FORMAT_CN,
            F.FORMAT_USE_AT
        FROM
            SANCTN_FORMAT F
        WHERE
            COMMON_CODE_SANCTN_FORMAT = #{format}
    </select>
    <select id="getSeq" parameterType="String" resultType="String">
        SELECT /* 부서별 결재 문서 번호 생성 */
                #{formatSanctnKnd} || '-' || TO_CHAR(SYSDATE, 'YYYY') || '-' ||
                LPAD(
                        (SELECT TO_NUMBER(COUNT(*)) + 1
                         FROM ELCTRN_SANCTN
                         WHERE SUBSTR(ELCTRN_SANCTN_ETPR_CODE, 1,
                                      INSTR(ELCTRN_SANCTN_ETPR_CODE, '-') - 1) = #{formatSanctnKnd}), 4,
                        '0') AS elctrnSanctnEtprCode
        FROM
            DUAL
    </select>
    <select id="getStatus" parameterType="String" resultType="int">
        /* 결재함 기안, 완료, 반려 결재 개수 불러오기 */
        SELECT
            COUNT(*)
        FROM
            ELCTRN_SANCTN
        WHERE
            ELCTRN_SANCTN_DRFT_EMPL_ID = #{elctrnSanctnDrftEmplId}
          AND
            COMMON_CODE_SANCT_PROGRS = #{commonCodeSanctProgrs}
    </select>
    <select id="loadRequest" parameterType="String" resultType="sanctionVO">
        /* 기안 문서함(상신) 불러오기 */
        SELECT
            E.ELCTRN_SANCTN_ETPR_CODE,
            E.ELCTRN_SANCTN_FORMAT_CODE,
            E.ELCTRN_SANCTN_SJ,
            E.ELCTRN_SANCTN_DC,
            E.ELCTRN_SANCTN_DRFT_EMPL_ID,
            E.ELCTRN_SANCTN_RECOM_DATE,
            E.COMMON_CODE_SANCT_PROGRS
        FROM
            ELCTRN_SANCTN E
        WHERE
            ELCTRN_SANCTN_DRFT_EMPL_ID = #{elctrnSanctnDrftEmplId}
        ORDER BY
            COMMON_CODE_SANCT_PROGRS, ELCTRN_SANCTN_RECOM_DATE ASC
    </select>
    <update id="approve" parameterType="String">
        /* 결재 승인 - 다음 결재 순번자의 상태 변경 */
        {CALL DECLARE
        BEGIN
            UPDATE
                SANCTN_LINE
            SET
                COMMON_CODE_SANCT_PROGRS = 'SANCTN016',
                SANCTN_LINE_DATE         = SYSDATE
            WHERE
                ELCTRN_SANCTNEMPL_ID = #{elctrnSanctnemplId}
            AND
                ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode};

            UPDATE
                ELCTRN_SANCTN
            SET
                COMMON_CODE_SANCT_PROGRS = 'SANCTN011'
            WHERE
                ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode};

            UPDATE
                SANCTN_LINE
            SET
                COMMON_CODE_SANCT_PROGRS = 'SANCTN013'
            WHERE
                SANCTN_LINE_ORDR = (SELECT SANCTN_LINE_ORDR
                                      FROM SANCTN_LINE
                                     WHERE ELCTRN_SANCTNEMPL_ID    = #{elctrnSanctnemplId}
                                       AND ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode}) + 1
            AND
                ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode};
        END}
    </update>
    <update id="finalApprove" parameterType="String">
        /* 결재 최종 승인 - 결재 문서의 상태 변경 */
        {CALL DECLARE
        BEGIN
            UPDATE SANCTN_LINE
            SET COMMON_CODE_SANCT_PROGRS = 'SANCTN016',
                SANCTN_LINE_DATE         = SYSDATE
            WHERE ELCTRN_SANCTNEMPL_ID = #{elctrnSanctnemplId}
              AND ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode};

            UPDATE ELCTRN_SANCTN
            SET COMMON_CODE_SANCT_PROGRS = 'SANCTN016',
                ELCTRN_SANCTN_FINAL_DATE = SYSDATE
            WHERE ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode};
        END}

    </update>
    <update id="reject" parameterType="String">
        /* 결재 반려 - 결재 문서의 상태 변경 및 반려 사유 등록 */
        {CALL DECLARE
        BEGIN
            UPDATE SANCTN_LINE
            SET COMMON_CODE_SANCT_PROGRS = 'SANCTN015',
                SANCTN_LINE_DATE         = SYSDATE,
                SANCTN_LINE_RETURN_RESN  = #{sanctnLineReturnResn}
            WHERE ELCTRN_SANCTNEMPL_ID = #{elctrnSanctnemplId}
              AND ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode};

            UPDATE ELCTRN_SANCTN
            SET COMMON_CODE_SANCT_PROGRS = 'SANCTN015'
            WHERE ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode};
        END}

    </update>
    <update id="collect" parameterType="String">
        /* 결재 회수 - 결재 문서의 상태 변경 */
        UPDATE ELCTRN_SANCTN
        SET COMMON_CODE_SANCT_PROGRS = 'SANCTN012'
        WHERE ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode}
    </update>

    <insert id="inputSanction" parameterType="sanctionVO">
        /* 결재 기안 - 결재 등록 */
        INSERT INTO ELCTRN_SANCTN(ELCTRN_SANCTN_ETPR_CODE,
                                  ELCTRN_SANCTN_FORMAT_CODE,
                                  ELCTRN_SANCTN_SJ,
                                  ELCTRN_SANCTN_DC,
                                  ELCTRN_SANCTN_DRFT_EMPL_ID,
                                  ELCTRN_SANCTN_RECOM_DATE,
                                  COMMON_CODE_SANCT_PROGRS)
        VALUES (#{elctrnSanctnEtprCode},
                #{elctrnSanctnFormatCode},
                #{elctrnSanctnSj},
                #{elctrnSanctnDc},
                #{elctrnSanctnDrftEmplId},
                SYSDATE,
                #{commonCodeSanctProgrs})
    </insert>
    <insert id="inputLine" parameterType="sanctionLineVO">
        /* 결재 기안 - 결재 라인 등록 */
        INSERT INTO SANCTN_LINE(ELCTRN_SANCTN_ETPR_CODE,
                                ELCTRN_SANCTNEMPL_ID,
                                SANCTN_LINE_ORDR,
                                COMMON_CODE_SANCT_PROGRS,
                                ELCTRN_SANCTN_FINAL_AT)
        VALUES (#{elctrnSanctnEtprCode},
                #{elctrnSanctnemplId},
                #{sanctnLineOrdr},
                #{commonCodeSanctProgrs},
                #{elctrnSanctnFinalAt})
    </insert>
    <insert id="inputRefrn" parameterType="referenceVO">
        /* 결재 기안 - 결재 참조 등록 */
        INSERT INTO SANCTN_REFRN( SANCTN_REFRN_EMPL_ID
                                , ELCTRN_SANCTN_ETPR_CODE)
        VALUES (#{sanctnRefrnEmplId},
                #{elctrnSanctnEtprCode})
    </insert>
    <insert id="uploadFile" parameterType="uploadFileVO">
        /* 결재 기안 - 첨부 파일 업로드 */
        INSERT INTO UPLOAD_FILE(UPLOAD_FILE_SN,
                                UPLOAD_FILE_ETPR_CODE,
                                UPLOAD_FILE_ORGINL_NM,
                                UPLOAD_FILE_STRE_NM,
                                UPLOAD_FILE_SIZE,
                                UPLOAD_FILE_RGSDE)
        VALUES (UPLOAD_FILE_SEQ.nextval,
                #{sanctnEtprCode},
                #{originalFileName},
                #{newFileName},
                #{fileSize},
                sysdate)
    </insert>
    <select id="loadLine" parameterType="String" resultType="sanctionLineVO">
        /* 결재 문서 불러오기 - 결재선 */
        SELECT L.ELCTRN_SANCTN_ETPR_CODE,
               L.ELCTRN_SANCTNEMPL_ID,
               L.SANCTN_LINE_ORDR,
               L.SANCTN_LINE_RETURN_RESN,
               L.SANCTN_LINE_DATE,
               L.COMMON_CODE_SANCT_PROGRS,
               L.ELCTRN_SANCTN_FINAL_AT,
               U.UPLOAD_FILE_STRE_NM,
               E.EMPL_NM,
               E.COMMON_CODE_DEPT,
               E.COMMON_CODE_CLSF
        FROM SANCTN_LINE L,
             UPLOAD_FILE U,
             EMPL E
        WHERE E.SIGN_ETPR_CODE = U.UPLOAD_FILE_ETPR_CODE
          AND L.ELCTRN_SANCTNEMPL_ID = E.EMPL_ID
          AND L.ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode}
        ORDER BY L.SANCTN_LINE_ORDR ASC
    </select>
    <select id="loadRefrn" parameterType="String" resultType="referenceVO">
        /* 결재 문서 불러오기 - 참조 */
        SELECT R.SANCTN_REFRN_EMPL_ID,
               R.ELCTRN_SANCTN_ETPR_CODE,
               E.EMPL_NM,
               E.COMMON_CODE_DEPT,
               E.COMMON_CODE_CLSF
        FROM SANCTN_REFRN R,
             EMPL E
        WHERE R.SANCTN_REFRN_EMPL_ID = E.EMPL_ID
          AND R.ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode}
    </select>
    <select id="loadSanction" parameterType="String" resultType="sanctionVO">
        /* 결재 문서 불러오기 - 결재 문서 */
        SELECT S.ELCTRN_SANCTN_ETPR_CODE,
               S.ELCTRN_SANCTN_FORMAT_CODE,
               S.ELCTRN_SANCTN_SJ,
               S.ELCTRN_SANCTN_DC,
               S.ELCTRN_SANCTN_DRFT_EMPL_ID,
               S.ELCTRN_SANCTN_RECOM_DATE,
               S.COMMON_CODE_SANCT_PROGRS,
               S.ELCTRN_SANCTN_FINAL_DATE,
               E.EMPL_NM,
               E.COMMON_CODE_CLSF,
               E.COMMON_CODE_DEPT,
               U.UPLOAD_FILE_STRE_NM
        FROM ELCTRN_SANCTN S,
             EMPL E,
             UPLOAD_FILE U
        WHERE S.ELCTRN_SANCTN_DRFT_EMPL_ID = E.EMPL_ID
          AND E.SIGN_ETPR_CODE = U.UPLOAD_FILE_ETPR_CODE
          AND ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode}
    </select>
    <select id="loadAwaiting" parameterType="String" resultType="sanctionLineVO">
        /* 결재함 - 결재(받은) 문서 불러오기 */
        SELECT E.ELCTRN_SANCTN_ETPR_CODE,
               E.ELCTRN_SANCTN_SJ,
               P.EMPL_NM,
               E.ELCTRN_SANCTN_RECOM_DATE,
               L.SANCTN_LINE_ORDR,
               L.COMMON_CODE_SANCT_PROGRS,
               L.ELCTRN_SANCTN_FINAL_AT
        FROM ELCTRN_SANCTN E,
             SANCTN_LINE L,
             EMPL P
        WHERE E.ELCTRN_SANCTN_ETPR_CODE = L.ELCTRN_SANCTN_ETPR_CODE
          AND E.ELCTRN_SANCTN_DRFT_EMPL_ID = P.EMPL_ID
          AND L.ELCTRN_SANCTNEMPL_ID = #{emplId}
        ORDER BY L.COMMON_CODE_SANCT_PROGRS, L.ELCTRN_SANCTN_ETPR_CODE ASC
    </select>
    <select id="loadSanctionFile" parameterType="String" resultType="uploadFileVO">
        /* 결재 문서 불러오기 - 첨부 파일 */
        SELECT U.UPLOAD_FILE_SN,
               U.UPLOAD_FILE_ETPR_CODE,
               U.UPLOAD_FILE_ORGINL_NM,
               U.UPLOAD_FILE_STRE_NM,
               U.UPLOAD_FILE_SIZE,
               U.UPLOAD_FILE_RGSDE
        FROM UPLOAD_FILE U,
             ELCTRN_SANCTN E
        WHERE U.UPLOAD_FILE_ETPR_CODE = ELCTRN_SANCTN_ETPR_CODE
          AND E.ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode}
    </select>
    <select id="loadAllLine" parameterType="String" resultType="employeeVO">
        /* 결재선 지정 - 접속 사원을 제외한 조직도 불러오기 */
        SELECT E.EMPL_ID,
               E.EMPL_NM,
               E.EMPL_TELNO,
               E.EMPL_EMAIL,
               E.COMMON_CODE_DEPT,
               E.COMMON_CODE_CLSF,
               E.COMMON_CODE_HFFC_STTUS
        FROM EMPL E
        WHERE E.COMMON_CODE_DEPT = #{depCode}
          AND EMPL_ID != #{emplId}
        ORDER BY TO_NUMBER(SUBSTR(E.COMMON_CODE_CLSF, 5)), E.EMPL_ENCPN ASC
    </select>
    <select id="loadReference" parameterType="String" resultType="sanctionVO">
        /* 결재함 - 참조(받은) 문서 불러오기 */
        SELECT E.ELCTRN_SANCTN_ETPR_CODE,
               E.ELCTRN_SANCTN_SJ,
               P.EMPL_NM,
               E.ELCTRN_SANCTN_RECOM_DATE,
               E.COMMON_CODE_SANCT_PROGRS
        FROM SANCTN_REFRN R,
             ELCTRN_SANCTN E,
             EMPL P
        WHERE E.ELCTRN_SANCTN_ETPR_CODE = R.ELCTRN_SANCTN_ETPR_CODE
          AND P.EMPL_ID = E.ELCTRN_SANCTN_DRFT_EMPL_ID
          AND SANCTN_REFRN_EMPL_ID = #{emplId}
        ORDER BY E.COMMON_CODE_SANCT_PROGRS, E.ELCTRN_SANCTN_ETPR_CODE ASC
    </select>
    <insert id="inputBookmark" parameterType="sanctionBookmarkVO">
        /* 나의 결재선 등록 */
        INSERT INTO SANCTN_LINE_BOOKMARK(SANCTION_LINE_BOOKMARK_SN,
                                         ELCTRN_SANCTN_DRFT_EMPL_ID,
                                         ELCTRN_SANCTN_BOOKMARK_NAME,
                                         ELCTRN_SANCTN_LINE_BOOKMARK)
        VALUES (BOOKMARK_SEQ.nextval,
                #{elctrnSanctnDrftEmplId},
                #{elctrnSanctnBookmarkName},
                #{elctrnSanctnLineBookmark})
    </insert>
    <select id="loadBookmark" parameterType="String" resultType="sanctionBookmarkVO">
        /* 나의 결재선 조회 */
        SELECT B.SANCTION_LINE_BOOKMARK_SN,
               B.ELCTRN_SANCTN_DRFT_EMPL_ID,
               B.ELCTRN_SANCTN_BOOKMARK_NAME,
               B.ELCTRN_SANCTN_LINE_BOOKMARK
        FROM SANCTN_LINE_BOOKMARK B
        WHERE ELCTRN_SANCTN_DRFT_EMPL_ID = #{emplId}
    </select>
    <delete id="deleteBookmark" parameterType="String">
        /* 나의 결재선 삭제  */
        DELETE
        FROM SANCTN_LINE_BOOKMARK
        WHERE SANCTION_LINE_BOOKMARK_SN = #{sanctionLineBookmarkSn}
    </delete>
    <select id="loadVacationSanction" resultType="sanctionVO">
        /* 인사팀 결재 관리 - 휴가 신청 내역 불러오기 */
        SELECT S.ELCTRN_SANCTN_ETPR_CODE,   -- 결재 번호
               S.ELCTRN_SANCTN_FORMAT_CODE, -- 결재 양식
               S.ELCTRN_SANCTN_SJ,          -- 결재 제목
               S.COMMON_CODE_SANCT_PROGRS,  -- 결재 상태
               S.ELCTRN_SANCTN_FINAL_DATE,  -- 결재 완료일
               E.EMPL_NM,                   -- 기안자 성명
               E.EMPL_ID,                   -- 기안자 사번
               E.COMMON_CODE_DEPT           -- 기안자 부서
        FROM ELCTRN_SANCTN S,
             EMPL E,
             SANCTN_FORMAT F
        WHERE E.EMPL_ID = S.ELCTRN_SANCTN_DRFT_EMPL_ID
          AND F.COMMON_CODE_SANCTN_FORMAT = S.ELCTRN_SANCTN_FORMAT_CODE
          AND F.FORMAT_SANCTN_KND = '인사' -- 인사팀의 결재 문서
          AND S.ELCTRN_SANCTN_FINAL_DATE IS NOT NULL -- 최종 승인 상태
    </select>
</mapper>


