<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.teamcommunity.CommunityMapper">
    <select id="loadEmpl" resultType="employeeVO" parameterType="String">
        SELECT
            E.EMPL_ID,
            E.EMPL_NM,
            UF.UPLOAD_FILE_STRE_NM AS PROFL_PHOTO_FILE_STRE_NM
        FROM EMPL E
                 JOIN PROFL PF ON PF.PROFL_EMPL_ID = E.EMPL_ID
                 JOIN UPLOAD_FILE UF ON PF.PROFL_ETPR_CODE = UF.UPLOAD_FILE_ETPR_CODE
        WHERE E.COMMON_CODE_DEPT = (
            SELECT e1.COMMON_CODE_DEPT
            FROM EMPL e1
            WHERE e1.EMPL_ID = #{emplId}
        )
    </select>
    <insert id="inputPost" parameterType="sntncVO">
        INSERT INTO SNTNC(SNTNC_ETPR_CODE,
                          SNTNC_WRTING_EMPL_ID,
                          SNTNC_CN,
                          SNTNC_WRTING_DATE,
                          COMMON_CODE_SNTNC_CTGRY)
        VALUES (#{sntncEtprCode},
                #{sntncWrtingEmplId},
                #{sntncCn},
                SYSDATE,
                'SNTNC010')
    </insert>
    <update id="modifyPost" parameterType="map">
        UPDATE SNTNC
        SET SNTNC_CN = #{sntncCn}
        WHERE SNTNC_ETPR_CODE = #{sntncEtprCode} AND SNTNC_WRTING_EMPL_ID =  #{sntncWrtingEmplId}
    </update>
    <delete id="deletePost" parameterType="map">
        DELETE
        FROM SNTNC
        WHERE SNTNC_ETPR_CODE =#{sntncEtprCode} AND SNTNC_WRTING_EMPL_ID = #{sntncWrtingEmplId}
    </delete>
    <select id="getSeq" resultType="int">
        SELECT SNTNC_SEQ.NEXTVAL FROM DUAL
    </select>

    <select id="loadPost" resultType="sntncVO" parameterType="String">
        SELECT s.SNTNC_ETPR_CODE,
               s.SNTNC_CN,
               s.SNTNC_WRTING_EMPL_ID,
               s.SNTNC_WRTING_DATE,
               s.COMMON_CODE_SNTNC_CTGRY,
               u.UPLOAD_FILE_ORGINL_NM,
               u.UPLOAD_FILE_SN,
               u.UPLOAD_FILE_SIZE
        FROM SNTNC s
                 JOIN EMPL e ON s.SNTNC_WRTING_EMPL_ID = e.EMPL_ID
                 LEFT JOIN UPLOAD_FILE u ON s.SNTNC_ETPR_CODE = u.UPLOAD_FILE_ETPR_CODE
        WHERE s.COMMON_CODE_SNTNC_CTGRY = 'SNTNC010'
          AND e.COMMON_CODE_DEPT = (
            SELECT e1.COMMON_CODE_DEPT
            FROM EMPL e1
            WHERE e1.EMPL_ID = #{emplId}
        )
    </select>

    <insert id="uploadPostFile" parameterType="map">
        INSERT INTO UPLOAD_FILE(UPLOAD_FILE_SN,
                                UPLOAD_FILE_ETPR_CODE,
                                UPLOAD_FILE_ORGINL_NM,
                                UPLOAD_FILE_STRE_NM,
                                UPLOAD_FILE_SIZE,
                                UPLOAD_FILE_RGSDE)
        VALUES (UPLOAD_FILE_SEQ.NEXTVAL,
                #{sntncEtprCode},
                #{originalFileName},
                #{newFileName},
                #{fileSize},
                SYSDATE)
    </insert>

    <select id="loadRecomend" resultType="int" parameterType="String">
        SELECT COUNT(SNTNC_ETPR_CODE)
        FROM RECOMEND
        WHERE SNTNC_ETPR_CODE = #{sntncEtprCode}
    </select>
    <select id="findRecomend" resultType="int" parameterType="map">
        SELECT COUNT(SNTNC_ETPR_CODE)
        FROM RECOMEND
        WHERE SNTNC_ETPR_CODE = #{sntncEtprCode} AND RECOMEND_EMPL_ID = #{recomendEmplId}
    </select>

    <insert id="inputRecomend" parameterType="recomendVO">
        INSERT INTO RECOMEND (SNTNC_ETPR_CODE, RECOMEND_EMPL_ID, RECOMEND_SN)
        VALUES (#{sntncEtprCode}, #{recomendEmplId}, RECOMEND_SEQ.NEXTVAL)
    </insert>
    <delete id="deleteRecomend" parameterType="recomendVO">
        DELETE
        FROM RECOMEND
        WHERE SNTNC_ETPR_CODE = #{sntncEtprCode} AND RECOMEND_EMPL_ID = #{recomendEmplId}
    </delete>
    <!--댓글-->
    <insert id="inputAnswer" parameterType="map">
        INSERT INTO ANSWER( ANSWER_NO,
                            SNTNC_ETPR_CODE,
                            ANSWER_WRTING_EMPL_ID,
                            ANSWER_CN,
                            ANSWER_DATE)
        VALUES (ANSWER_SEQ.NEXTVAL,
                #{sntncEtprCode},
                #{answerWrtingEmplId},
                #{answerCn},
                SYSDATE)
    </insert>
    <select id="loadAnswerCnt" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM ANSWER A
        WHERE A.SNTNC_ETPR_CODE = #{sntncEtprCode}
    </select>
    <select id="loadAnswer" resultType="answerVO" parameterType="String">
        SELECT
            A.ANSWER_NO,
            A.ANSWER_CN,
            A.ANSWER_DATE,
            A.ANSWER_WRTING_EMPL_ID,
            UF.UPLOAD_FILE_STRE_NM AS proflPhotoFileStreNm
        FROM ANSWER A
                 JOIN PROFL P ON A.ANSWER_WRTING_EMPL_ID = P.PROFL_EMPL_ID
                 JOIN UPLOAD_FILE UF ON UF.UPLOAD_FILE_ETPR_CODE = P.PROFL_ETPR_CODE
        WHERE A.SNTNC_ETPR_CODE = #{sntncEtprCode}
        ORDER BY A.ANSWER_NO
    </select>
    <!--팀공지-->
    <insert id="inputTeamNoti" parameterType="map">
        INSERT INTO SNTNC(SNTNC_ETPR_CODE,
                          SNTNC_WRTING_EMPL_ID,
                          SNTNC_SJ,
                          SNTNC_CN,
                          SNTNC_WRTING_DATE,
                          COMMON_CODE_SNTNC_CTGRY)
        VALUES (#{sntncEtprCode},
                #{sntncWrtingEmplId},
                #{sntncSj},
                #{sntncCn},
                SYSDATE,
                'SNTNC011')
    </insert>
    <select id="loadTeamNoti" resultType="sntncVO">
        SELECT
            S.SNTNC_ETPR_CODE,
            S.SNTNC_WRTING_EMPL_ID,
            S.SNTNC_SJ,
            S.SNTNC_CN,
            S.SNTNC_WRTING_DATE
        FROM SNTNC S
                 JOIN EMPL E ON E.EMPL_ID = S.SNTNC_WRTING_EMPL_ID
        WHERE S.COMMON_CODE_SNTNC_CTGRY = 'SNTNC011'
          AND E.COMMON_CODE_DEPT = (
            SELECT E1.COMMON_CODE_DEPT
            FROM EMPL E1
            WHERE E1.EMPL_ID = #{emplId}
        )
    </select>
    <update id="modifyTeamNoti" parameterType="map">
        UPDATE SNTNC
        SET SNTNC_SJ = #{sntncSj},
            SNTNC_CN = #{sntncCn}
        WHERE SNTNC_ETPR_CODE = #{sntncEtprCode} AND SNTNC_WRTING_EMPL_ID = #{sntncWrtingEmplId}
    </update>
</mapper>
