<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.vacation.VacationMapper">
    <select id="loadVacationCnt" parameterType="string" resultType="vacationVO">
        SELECT YRYC_EMP_ID,
               YRYC_USE_CO,
               YRYC_NOW_CO
        FROM YRYC
        WHERE YRYC_EMP_ID = #{emplId}
    </select>

    <select id="loadVacationRecord" parameterType="string" resultType="vacationUseVO">
        SELECT YRYC_USE_DTLS_SN,
               YRYC_USE_DTLS_BEGIN_DATE,
               YRYC_USE_DTLS_END_DATE,
               YRYC_USE_DTLS_RM,
               COMMON_CODE_YRYC_USE_KIND,
               COMMON_CODE_YRYC_USE_SE,
               YRYC_USE_DTLS_EMPL_ID,
               ELCTRN_SANCTN_ETPR_CODE
        FROM YRYC_USE_DTLS
        WHERE YRYC_USE_DTLS_EMPL_ID = #{emplId}
        ORDER BY YRYC_USE_DTLS_BEGIN_DATE DESC
    </select>
    <insert id="inputVacation" parameterType="vacationUseVO" useGeneratedKeys="true" keyProperty="generatedKey">
        INSERT INTO YRYC_USE_DTLS( YRYC_USE_DTLS_SN
                                 , YRYC_USE_DTLS_BEGIN_DATE
                                 , YRYC_USE_DTLS_END_DATE
                                 , YRYC_USE_DTLS_RM
                                 , COMMON_CODE_YRYC_USE_KIND
                                 , COMMON_CODE_YRYC_USE_SE
                                 , YRYC_USE_DTLS_EMPL_ID)
        VALUES (YRYC_USE_DTLS_SEQ.nextval,
                #{yrycUseDtlsBeginDate},
                #{yrycUseDtlsEndDate},
                #{yrycUseDtlsRm},
                #{commonCodeYrycUseKind},
                #{commonCodeYrycUseSe},
                #{yrycUseDtlsEmplId})
        <selectKey keyProperty="yrycUseDtlsSn" resultType="int" order="AFTER">
            SELECT YRYC_USE_DTLS_SEQ.CURRVAL FROM DUAL
        </selectKey>
    </insert>
    <select id="loadVacationDetail" parameterType="int" resultType="vacationUseVO">
        SELECT YRYC_USE_DTLS_SN,
               YRYC_USE_DTLS_BEGIN_DATE,
               YRYC_USE_DTLS_END_DATE,
               YRYC_USE_DTLS_RM,
               COMMON_CODE_YRYC_USE_KIND,
               COMMON_CODE_YRYC_USE_SE,
               ELCTRN_SANCTN_ETPR_CODE
        FROM YRYC_USE_DTLS
        WHERE YRYC_USE_DTLS_SN = #{yrycUseDtlsSn}
    </select>
    <select id="getSeq" parameterType="String" resultType="String">
        SELECT #{formatSanctnKnd} || '-' || TO_CHAR(SYSDATE, 'YYYY') || '-' || LPAD(
                (SELECT TO_NUMBER(COUNT(*)) + 1
                 FROM YRYC_USE_DTLS
                 WHERE SUBSTR(YRYC_USE_DTLS_SN, 1, INSTR(YRYC_USE_DTLS_SN, '-') - 1) = #{formatSanctnKnd}), 4, '0'
            ) AS elctrnSanctnEtprCode
        FROM DUAL
    </select>

    <update id="modifySanctionCode" parameterType="map">
        UPDATE YRYC_USE_DTLS
        SET ELCTRN_SANCTN_ETPR_CODE = #{elctrnSanctnEtprCode}
        WHERE YRYC_USE_DTLS_SN = #{approveId}
    </update>
</mapper>