<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.facility.FacilityMapper">
    <insert id="inputVehicleReservation" parameterType="vehicleVO">
        INSERT INTO VHCLE_RESVE( VHCLE_RESVE_NO
                               , VHCLE_RESVE_BEGIN_TIME
                               , VHCLE_RESVE_END_TIME
                               , VHCLE_NO
                               , VHCLE_RESVE_EMPL_ID
                               , COMMON_CODE_RESVE_AT
                               , VHCLE_RESVE_RETURN_AT)
        VALUES ( VHCLE_RESVE_SEQ.NEXTVAL
               , #{vhcleResveBeginTime}
               , #{vhcleResveEndTime}
               , #{vhcleNo}
               , #{vhcleResveEmplId}
               , #{commonCodeResveAt}
               , #{vhcleResveRetrunAt})
    </insert>

    <delete id="deleteReservedByVhcleResveNo" parameterType="int">
        DELETE
        FROM VHCLE_RESVE
        WHERE VHCLE_RESVE_NO = #{vhcleResveNo}
    </delete>

    <select id="getVehicles" resultType="vehicleVO">
        SELECT VHCLE_NO
             , VHCLE_VHCTY
             , VHCLE_PSNCPA
             , COMMON_CODE_HIPASS_ASN_AT
        FROM VHCLE
    </select>

    <select id="getReservedVehicleByVhcleNo" resultType="vehicleVO" parameterType="String">
        SELECT V.VHCLE_NO,
               V.VHCLE_VHCTY,
               V.VHCLE_PSNCPA,
               V.COMMON_CODE_HIPASS_ASN_AT,
               VR.VHCLE_RESVE_NO,
               VR.VHCLE_RESVE_BEGIN_TIME,
               VR.VHCLE_RESVE_END_TIME,
               VR.VHCLE_RESVE_EMPL_ID,
               VR.COMMON_CODE_RESVE_AT
        FROM VHCLE V
                 FULL OUTER JOIN VHCLE_RESVE VR ON V.VHCLE_NO = VR.VHCLE_NO
        WHERE TRUNC(VR.VHCLE_RESVE_BEGIN_TIME) = TRUNC(SYSDATE)
          AND V.VHCLE_NO = #{vhcleNo}
        ORDER BY VHCLE_RESVE_NO DESC
    </select>

    <select id="getReservedVehicleByEmplId" resultType="vehicleVO" parameterType="String">
        SELECT VHCLE_RESVE_NO
             , VHCLE_RESVE_BEGIN_TIME
             , VHCLE_RESVE_END_TIME
             , VHCLE_NO
             , VHCLE_RESVE_EMPL_ID
             , COMMON_CODE_RESVE_AT
        FROM VHCLE_RESVE
        WHERE VHCLE_RESVE_EMPL_ID = #{vhcleResveEmplId}
          AND TRUNC(VHCLE_RESVE_BEGIN_TIME) = TRUNC(SYSDATE)
    </select>

</mapper>