<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#">
    <table border="1" style="width: 100%">
        <colgroup>
            <col style="width: 15%;">
            <col style="width: 35%;">
            <col style="width: 15%;">
            <col style="width: 35%;">
        </colgroup>
        <tr>
            <td class="form-title">문서 종류</td>
            <td><span id="sanctnCate">법인카드사용신청서</span></td>
            <td class="form-title">문서 번호</td>
            <td><span id="sanctionNo"></span></td>
        </tr>
        <tr>
            <td class="form-title">기안 부서</td>
            <td><span>회계팀</span></td>
            <td class="form-title">기안자</td>
            <td><span id="writer"></span></td>
        </tr>
        <tr>
            <td class="form-title">기안 일자</td>
            <td><span id="writeDate"></span></td>
            <td class="form-title">완료 일자</td>
            <td><span id="elctrnSanctnFinalDate"></span></td>
        </tr>
        <tr>
            <td class="form-title">사용 시작 일자</td>
            <td>
                <span id="cprCardResveBeginDate" style="width: 99%"></span></td>
            <td class="form-title">사용 종료 일자</td>
            <td>
                <span id="cprCardResveClosDate" style="width: 99%"></span></td>
        </tr>
        <tr>
            <td class="form-title">사용처</td>
            <td><span id="cprCardUseLoca" style="width: 99%"></span></td>
            <td class="form-title">사용 예상 금액</td>
            <td><span id="cprCardUseExpectAmount" style="width: 99%"></span>
        </tr>
        <tr>
            <td class="form-title">사용 목적</td>
            <td colspan="3"><span id="cprCardUsePurps" style="width: 99%"></span></td>
        </tr>
    </table>
</form>
</body>
</html>