<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#">
    <table border="1" style="width: 100%">
        <colgroup>
            <col style="width: 15%;">
            <col style="width: 35%;">
            <col style="width: 15%;">
            <col style="width: 35%;">
        </colgroup>
        <tr>
            <td class="form-title">문서 종류</td>
            <td><span id="sanctnCate">연차사용신청서</span></td>
            <td class="form-title">문서 번호</td>
            <td><span id="sanctionNo">${etprCode}</span></td>
        </tr>
        <tr>
            <td class="form-title">기안 부서</td>
            <td><span>인사팀</span></td>
            <td class="form-title">기안자</td>
            <td><span id="writer"></span></td>
        </tr>
        <tr>
            <td class="form-title">기안 일자</td>
            <td><span id="writeDate"></span></td>
            <td class="form-title">완료 일자</td>
            <td><span id="elctrnSanctnFinalDate"></span></td>
        </tr>
        <tr>
            <td class="form-title">휴가 구분</td>
            <td colspan="3"><span id="commonCodeYrycUseKind" style="width: 99%"></span></td>
        </tr>
        <tr>
            <td class="form-title">휴가 종류</td>
            <td colspan="3"><span id="commonCodeYrycUseSe" style="width: 99%"></span></td>

        </tr>
        <tr>
            <td class="form-title">시작 날짜</td>
            <td>
                <span id="yrycUseDtlsBeginDate" style="width: 99%"></span></td>
            <td class="form-title">종료 일자</td>
            <td>
                <span id="yrycUseDtlsEndDate" style="width: 99%"></span></td>
            </td>
        </tr>
        <tr>
            <td class="form-title">내용</td>
            <td colspan="3"><span id="yrycUseDtlsRm" style="width: 99%"></span>
        </tr>
    </table>
    <p>위와 같이 휴가를 신청하오니 허락하여 주시기 바랍니다.</p>
    <p id="requestDate"></p>
</form>
</body>
</html>